#### For Loop

In [34]:
x=[12,13,14,15,16]
y={}
for i in x:
    if i%2==0:
      y.update({i:"even"})     # using update 
    else:
      y.update({i:"odd"})
y

{12: 'even', 13: 'odd', 14: 'even', 15: 'odd', 16: 'even'}

In [36]:
x=[12,13,14,15,16]
y={}
for i in x:
    if i%2==0:
      y[i]="even"         # using direct key to value format
    else:
      y[i]="odd"
y

{12: 'even', 13: 'odd', 14: 'even', 15: 'odd', 16: 'even'}

In [97]:
#153
x=str(input("Enter Your Number Whether It is armstrong or Not :"))
b=len(x)
y=0
for i in range(b):
   y+=int(x[i])**b

if int(x)==y:
    print(int(x),"armstrong")
else:
    print(int(x)," Not an Armstrong")

Enter Your Number Whether It is armstrong or Not : 143

143  Not an Armstrong

In [22]:
# FOR ELSE LOOPS
for i in range(1,10):
    print(i)
else:
    print("THIS IS ELSE BLOCK")          # IF THE FOR LOOP THROWS AN NULL VALUE OR ENDED AFTER THAT THIS ELSE WILL BE EXECUTED

1
2
3
4
5
6
7
8
9
THIS IS ELSE BLOCK

In [23]:
# WHILE ELSE LOOPS
i=1
while i<=5:
    print(i)
    i+=1
else:
    print("THIS IS ELSE BLOCK") # IF WHILE LOOP THROWS AN NULL VALUE OR ENDED AFTER THAT THIS ELSE WILL BE EXECUTED

1
2
3
4
5
THIS IS ELSE BLOCK

In [10]:
x1 =eval(input("Enter a number Whether It is Armstrong or NOT"))
A = {}

for X in x1:
    if len(str(X)) < 3:
        A[X] = "INVALID INPUT,Not Armstrong"
    else:
        B = str(X)
        C = len(B)
        y = 0
        for x2 in B:
            y += int(x2) ** C
        if X == y:
            A[X] = "Armstrong"
        else:
            A[X] = "Not Armstrong"

print(A)

Enter a number Whether It is Armstrong or NOT [153,12]

{153: 'Armstrong', 12: 'INVALID INPUT,Not Armstrong'}

In [4]:
v=eval(input(" enter a value"))
a={}
for z in v:
    b=z
    x=len(str(z))
    sum=0
    while z >0:
        sum+=((z%10)**x)
        z=z//10
    if sum==b:
        a[b]="Armstrong"
    else:
        a[b]="Not Armstrong"
    
a

 enter a value [123,153]

{123: 'Not Armstrong', 153: 'Armstrong'}

In [29]:
num=[]
for i in range(2000,2026):
    if i%7==0 and i%5!=0:
        num.append(str(i))     
print(",".join(num))

2002,2009,2016,2023

In [45]:
for row in range(5):
    for spaces in range(4-row):
        print(" ",end="")
    for col in range(row):
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [2]:
                 #PALINDROME OR NOT 
x=input("enter a variable")
if x==x[::-1]:
    print("palindrome ")        # using slicing
else:
    print("not a palindrome")

enter a variable 121

palindrome

In [17]:
n=input("enter a number or string")
reverse=""
for i in range(len(n)-1,-1,-1):
    
    reverse+=n[i]             #using for loop
if n==reverse:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

enter a number or string 131

it is a palindrome

In [1]:
colors = ["red", "green", "blue"]
for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

In [4]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 78]

for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Alice scored 85
Bob scored 90
Charlie scored 78

In [9]:
x=int(input())
n=1
for i in range(1,x+1):
    n*=i
print(n)

 5

120

In [8]:
s = "()[] {}"
s.split(" ")

['()[]', '{}']

In [14]:
a ={2, 4, 5, 9}

b = {2, 4, 11, 12}
c=a.symmetric_difference(b)
for i in c:
    print(i)

5
9
11
12

In [28]:
x=5
for rows in range(1,x):
    for spaces in range(x-rows-1):
        print(" ",end="")
    for cols in range(rows):
        if cols*2==0:
            continue
        print("*"*cols,end="")
    print()
for rows in range(1,x):
    for spaces in range(rows):
        print(" ",end="")
    for cols in range(x-rows-1):
        if cols%2==0:
            continue
        print("*"*cols,end="")
    print()

  *
 ***
******
 *
  *

In [29]:
x = 5

# Upper half
for rows in range(1, x):
    for spaces in range(x - rows - 1):
        print(" ", end="")
    for cols in range(rows):
        if cols % 2 == 0:  # skip even columns
            continue
        print("*", end="")
    print()

# Lower half
for rows in range(1, x):
    for spaces in range(rows):
        print(" ", end="")
    for cols in range(x - rows - 1):
        if cols % 2 == 0:  # skip even columns
            continue
        print("*", end="")
    print()

  *
 *
**
 *
  *

In [39]:
x = 5  # height

# Upper half
for rows in range(1, x + 1):
    if rows%2==0:
        continue
    print(" " * (x - rows) + "*" * (2 * rows-1 ))

# Lower half
for rows in range(x - 1, 0, -1):
    if rows%2==0:
        continue
    print(" " * (x - rows) + "*" * (2 * rows - 1))

    *
  *****
*********
  *****
    *

In [44]:
x=4
for rows in range(1,5):
    for spaces in range(4-rows):
        print(" ",end="")
    for cols in range(1,rows+1):
        print(cols,end=" ")
    print()

   1
  1 2
 1 2 3
1 2 3 4

In [45]:
x=input()
y=x.lower()
count=0
for i in y:
    if i in "aeiou":
        count+=1
print(count)

 hello worlD

3